<!--Formulario por defecto-->
<!--var: form-->
{% load crispy_forms_tags %}

{% crispy form %}

{% if update %}
<!--Boton de creacion-->
<div class="row">
    <div class="col-md-12 m-auto order-md-1 p-2 text-right">
        <a class="btn btn-outline-dark" href="{% url 'exams:words_create' object.pk %}">
            Crear Examen
        </a>
    </div>
</div>

{% if object_list %}
  <a class="btn  btn-outline-dark mb-3" data-toggle="collapse" href="#collapse" role="button"
     aria-expanded="false" aria-controls="collapse">
    Palabras
  </a>

<div class="collapse" id="collapse">
    <h5 class="ml-2">{{object_list|length}} palabras</h5>
    {% include 'custom/snippets/as_list.html' with object_list=object_list fields=fields %}
</div>
<hr>
{% endif %}
{% endif %}
